.appBody{
  display: flex;
  
}
.copyright{
  bottom: 20px;
  position: absolute;
  left: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}
.downloadcv{
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 1px solid black;
  width: 150px;
  cursor: pointer;
}
.downloadcv a{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  text-decoration: none;
  color: #000000;
}
.imagerow::after {
  content: "";
  clear: both;
  display: table;
}
.imagecolumn img{
  margin: 5px;
}
.viewgithub{
  display: flex;
  border: 1px solid black;
  padding: 2px;
  background-color: #cac9c9;
  margin: 0;
}

/* for large screen */
@media only screen and (min-width: 1000px) {
  .profileMenu{
    width: 22%;
    height: 100vh;
    background-color: #f4f1f1;
    text-align: center;
    position: fixed;
    display: block;
    z-index: 1;
  }
  .profileMenu ul li{
    list-style-type: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .profileMenu ul :hover{
    text-decoration: underline;
    text-decoration-color: #0000ff;
    text-decoration-thickness: 4px;
    cursor: pointer;
  }
  .profileMenu img{
    margin-top: 50px;
    border-radius: 130px;
    border: 2px solid green
  }
  .profileMenu h3{
    font-weight: 600;
    cursor: pointer;
  }
  .profileMenu p{
    font-weight: 100;
  }
  .profileBody{
    width: calc(100vw - 22%);;
    overflow-y: scroll;
    left: 22%;
    position: relative;
    top: 0;
  }
  .hamburgerMenu{
    display: none;
  }
  .aboutme, .skills, .experience, .projects, .contactme{
    padding: 40px;
    justify-content: center;
    /* height: 100vh; */
  }
  .myexper{
    background-color: #e4e4f6;
    padding: 4px;
    margin: 4px;
  }
  .typedText{
    color: #000000;
    font-weight: 500;
    font-size: 22px;
  }
  .skills, .experience, .projects, .contactme{
    margin-top: 20px;
  }
  .skills, .experience, .projects, .contactme h3{
    margin-bottom: 20px;
  }
  .collapsethis{
    background-color: #cac9c9;
    margin: 10px;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: #000000;
    font-weight: 700;
  }
  .showthis{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: auto;
  }
  .showthis ul li{
    padding: 2px;
  }
  .mystory{
    font-size: 20px;
  }
  .telephone, .whatsapp, .mail, .linkin, .github{
    display: flex;
    border: 1px solid black;
    padding: 15px;
    background-color: #cac9c9;
    margin: 5px;
    width: 60%;
  }
  #telephone :hover, #whatsapp :hover, #mail :hover, #linkin :hover, #github :hover{
    background-color: #909091;
  }
  .teldata{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
  }
  /* Create four equal columns that sits next to each other */
  .imagecolumn {
    float: left;
    width: 23%;
    /* padding: 5px; */
  }
}
/* for medium screen */
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .profileMenu{
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: #f4f1f1;
    text-align: center;
    z-index: 1;
  }
  .profileMenu ul li{
    list-style-type: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .profileMenu ul :hover{
    text-decoration: underline;
    text-decoration-color: #0000ff;
    text-decoration-thickness: 4px;
    cursor: pointer;
  }
  .profileMenu img{
    margin-top: 50px;
    border-radius: 130px;
    border: 2px solid green
  }
  .profileMenu h3{
    font-weight: 600;
    cursor: pointer;
  }
  .profileMenu p{
    font-weight: 100;
  }
  .profileBody{
    width: calc(100vw - 30%);
    overflow-y: scroll;
    left: 30%;
    position: relative;
    top: 0;
  }
  .hamburgerMenu{
    display: none;
  }
  .aboutme, .skills, .experience, .projects, .contactme{
    padding: 20px;
    justify-content: center;
    /* height: 100vh; */
  }
  .myexper{
    background-color: #e4e4f6;
    padding: 4px;
    margin: 4px;
  }
  .typedText{
    color: #000000;
    font-weight: 500;
    font-size: 22px;
  }
  .skills, .experience, .projects, .contactme{
    margin-top: 20px;
  }
  .skills, .experience, .projects, .contactme h3{
    margin-bottom: 20px;
  }
  .collapsethis{
    background-color: #cac9c9;
    margin: 10px;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: #000000;
    font-weight: 700;
  }
  .showthis{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: auto;
  }
  .showthis ul li{
    padding: 2px;
  }
  .mystory{
    font-size: 18px;
  }
  .telephone, .whatsapp, .mail, .linkin, .github{
    display: flex;
    border: 1px solid black;
    padding: 15px;
    background-color: #b6c1c6;
    margin: 5px;
  }
  #telephone :hover, #whatsapp :hover, #mail :hover, #linkin :hover, #github :hover{
    background-color: #909091;
  }
  .teldata{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
  }
  .imagecolumn {
    float: left;
    width: 48%;
    padding: 5px;
  }
}
/* for small screen */
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .profileMenu{
    display: none;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #f4f1f1;
    text-align: center;
    position: fixed;
    z-index: 1;
  }
  .profileMenu.expanded {
    display: block;
  }
  .profileMenu ul li{
    list-style-type: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .profileMenu ul :hover{
    text-decoration: underline;
    text-decoration-color: #0000ff;
    text-decoration-thickness: 4px;
    cursor: pointer;
  }
  .profileMenu img{
    margin-top: 50px;
    border-radius: 130px;
    border: 2px solid green
  }
  .profileMenu h3{
    font-weight: 600;
    cursor: pointer;
  }
  .profileMenu p{
    font-weight: 100;
  }
  .profileBody{
    width: 100%;
    overflow-y: scroll;
    top: 0;
    position: relative;
  }
  .profileBody.expanded {
    position: 'relative';
    margin-top: '20px'; 
  }
  .hamburgerMenu{
    cursor: pointer;
    top: 0;
    left: 2px;
    z-index: 1;
    position: fixed;
  }
  .aboutme, .skills, .experience, .projects, .contactme{
    padding: 5px;
    justify-content: center;
    /* height: 100vh; */
  }
  .myexper{
    background-color: #e4e4f6;
    padding: 4px;
    margin: 4px;
  }
  .typedText{
    color: #000000;
    font-weight: 500;
    font-size: 20px;
  }
  .skills, .experience, .projects, .contactme{
    margin-top: 20px;
  }
  .skills, .experience, .projects, .contactme h3{
    margin-bottom: 20px;
  }
  .collapsethis{
    background-color: #cac9c9;
    margin: 10px;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: #000000;
    font-weight: 700;
  }
  .showthis{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: auto;
  }
  .showthis ul li{
    padding: 2px;
  }
  .mystory{
    font-size: 18px;
  }
  .telephone, .whatsapp, .mail, .linkin, .github{
    display: flex;
    border: 1px solid black;
    padding: 15px;
    background-color: #cac9c9;
    margin: 5px;
  }
  #telephone :hover, #whatsapp :hover, #mail :hover, #linkin :hover, #github :hover{
    background-color: #909091;
  }
  .teldata{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
  }
  .imagecolumn {
    float: left;
    width: 100%;
    padding: 5px;
  }
}
/* for extra small screen */
@media only screen and (max-width: 500px) {
  .profileMenu{
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #f4f1f1;
    text-align: center;
    position: fixed;
    z-index: 1;
  }
  .profileMenu.expanded {
    display: block;
  }
  .profileMenu ul li{
    list-style-type: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .profileMenu ul :hover{
    text-decoration: underline;
    text-decoration-color: #0000ff;
    text-decoration-thickness: 4px;
    cursor: pointer;
  }
  .profileMenu img{
    margin-top: 50px;
    border-radius: 130px;
    border: 2px solid green
  }
  .profileMenu h3{
    font-weight: 600;
    cursor: pointer;
  }
  .profileMenu p{
    font-weight: 100;
  }
  .profileBody{
    width: 100%;
    overflow-y: scroll;
    top: 0;
    position: relative;
  }
  .profileBody.expanded {
    position: 'relative';
    margin-top: '20px'; 
  }
  .hamburgerMenu{
    cursor: pointer;
    top: 0;
    left: 2px;
    z-index: 1;
    position: fixed;
  }
  .aboutme, .skills, .experience, .projects, .contactme{
    padding: 5px;
    justify-content: center;
  }
  .myexper{
    background-color: #e4e4f6;
    padding: 4px;
    margin: 4px;
  }
  .typedText{
    color: #000000;
    font-weight: 500;
    font-size: 15px;
  }
  .mystory{
    font-size: 16px;
  }
  .skills, .experience, .projects, .contactme{
    margin-top: 20px;
  }
  .skills, .experience, .projects, .contactme h3{
    margin-bottom: 20px;
  }
  .collapsethis{
    background-color: #cac9c9;
    margin: 10px;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: #000000;
    font-weight: 700;
  }
  .showthis{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: auto;
  }
  .showthis ul li{
    padding: 2px;
  }
  .telephone, .whatsapp, .mail, .linkin, .github{
    display: flex;
    border: 1px solid black;
    padding: 15px;
    background-color: #cac9c9;
    margin: 5px;
  }
  #telephone :hover, #whatsapp :hover, #mail :hover, #linkin :hover, #github :hover{
    background-color: #909091;
  }
  .teldata{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
  }
  .imagecolumn {
    float: left;
    width: 100%;
    padding: 5px;
  }
}
